html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: $primaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
    max-width: 90%;
}

a {
    text-decoration: none;
    list-style: none;
}

// Layout of Elements
.mainContainer {
    position:relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center; 
    align-items: center; 
    height: 100vh;
    width: 100%;
    padding: 4vh 0 5vh 0;
        header{ 
            grid-column: 1 / -1;            
            grid-row: 1 / 4;
            align-self: end;
        }
}

.dataContainer{
    grid-column: 1 / -1; 
    grid-row: 3 / 10;
        h3{
            justify-self: center;
            align-self: end;
        }
}

.conditionsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1fr);
    align-items: center;
    align-self: start;
    height: 40px;
        img,h4{
            align-self: center;
            // margin: 0 10px;
        }
        img{
            grid-column: 1/ 3;
            justify-self: right;
            margin: 0;
        }
        h4{
            grid-column: 3/ 7;
            justify-self: left;
            margin-left: 15px;
            width:70%;
        }
}

.locationContainer{
    grid-column: 1 / -1;
    grid-row: 11 / 13;
    justify-items: center;
    align-self: end;
    margin-bottom: 3vh;
        .selectedLocale,
        .inputContainer{
            margin: 5px 0;
        }
}

