// Font MIXINS
$primaryFont: 'Asul', sans-serif;
$secondaryFont:'Work Sans', sans-serif;

$tertiaryFont: 'Noto Sans', sans-serif;








// font-family: 'Asul', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;